In [64]:
import numpy as np
import pandas as pd

In [65]:
df=pd.read_csv('breast-cancer-wisconsin.csv')

In [66]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [67]:
df = df.rename(columns={'class': 'diagnosis'})
df.drop(['id'],1,inplace=True)
d = {4:0,2:1}
df['diagnosis'] = df['diagnosis'].map(d)

In [68]:
df.replace('?',-99999,inplace=True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,diagnosis
0,5,1,1,1,2,1,3,1,1,1
1,5,4,4,5,7,10,3,2,1,1
2,3,1,1,1,2,2,3,1,1,1
3,6,8,8,1,3,4,3,7,1,1
4,4,1,1,3,2,1,3,1,1,1

In [69]:
df.shape

(699, 10)

In [70]:
X=np.array(df.drop(['diagnosis'],1))

In [71]:
y = np.array(df['diagnosis'])

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2)

In [74]:
import tensorflow as tf

In [75]:
model = tf.keras.models.Sequential()

In [76]:
model.add(tf.keras.layers.Flatten()) #first layer
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2,activation = tf.nn.softmax))

In [77]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [78]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
559/559 [==============================] - 1s 3ms/step - loss: 0.8023 - acc: 0.6583
Epoch 2/10
559/559 [==============================] - 0s 411us/step - loss: 0.4225 - acc: 0.8998
Epoch 3/10
559/559 [==============================] - 0s 406us/step - loss: 0.3371 - acc: 0.9249
Epoch 4/10
559/559 [==============================] - 0s 460us/step - loss: 0.2643 - acc: 0.9392
Epoch 5/10
559/559 [==============================] - 0s 488us/step - loss: 0.2262 - acc: 0.9535
Epoch 6/10
559/559 [==============================] - 0s 500us/step - loss: 0.1935 - acc: 0.9624
Epoch 7/10
559/559 [==============================] - 0s 465us/step - loss: 0.1742 - acc: 0.9642
Epoch 8/10
559/559 [==============================] - 0s 521us/step - loss: 0.1492 - acc: 0.9714
Epoch 9/10
559/559 [==============================] - 0s 533us/step - loss: 0.1386 - acc: 0.9732
Epoch 10/10
559/559 [==============================] - 0s 762us/step - loss: 0.1288 - acc: 0.9803

In [79]:
val_loss,val_accuracy = model.evaluate(X_test,y_test)

140/140 [==============================] - 0s 3ms/step

In [80]:
print (val_accuracy)

0.9571428554398673

In [82]:
## IT WAS VERY GOOD

In [83]:
model.compile(optimizer='sgd',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [84]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
559/559 [==============================] - 2s 3ms/step - loss: 0.1120 - acc: 0.9803
Epoch 2/10
559/559 [==============================] - 0s 401us/step - loss: 0.1109 - acc: 0.9785
Epoch 3/10
559/559 [==============================] - 0s 425us/step - loss: 0.1084 - acc: 0.9839
Epoch 4/10
559/559 [==============================] - 0s 453us/step - loss: 0.1078 - acc: 0.9821
Epoch 5/10
559/559 [==============================] - 0s 468us/step - loss: 0.1044 - acc: 0.9821
Epoch 6/10
559/559 [==============================] - 0s 736us/step - loss: 0.1017 - acc: 0.9803
Epoch 7/10
559/559 [==============================] - 0s 432us/step - loss: 0.1019 - acc: 0.9821
Epoch 8/10
559/559 [==============================] - 0s 763us/step - loss: 0.1024 - acc: 0.9821
Epoch 9/10
559/559 [==============================] - 0s 478us/step - loss: 0.1007 - acc: 0.9839
Epoch 10/10
559/559 [==============================] - 0s 809us/step - loss: 0.0987 - acc: 0.9839

In [85]:
val_loss,val_accuracy = model.evaluate(X_test,y_test)

140/140 [==============================] - 1s 4ms/step

In [86]:
print(val_accuracy)

0.9642857125827244